body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.site-welcome {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.site-welcome.active {
    display: flex;
}
/*content*/

.navTopBar-container {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
.navTopBar {
    padding: 20px 16px;
    transition: all 0.5s;
    color: #b7b7b7;
}
.navTopBar.sticky {
    background: white;
    padding: 10px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}

.logo > .rs {
    margin-right: 4px;
    color: #e6686a;
}

.logo > .card {
    color: #9a9da2;
}

.navigator {
    padding: 5px 0;
}

.navigator ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigator ul .first-navigator {
    margin: 0 17px;
    position: relative;
    cursor: pointer;
}

.navigator ul .first-navigator:hover .sub-navigator {
    display: block;
    animation: secondMenuSlide 0.3s;
}

.navigator ul .first-navigator:hover a::after, .navigator ul .first-navigator.heighlight a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 3px;
    background: #e06567;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes secondMenuSlide {
    0% {
        margin-right: 100%;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.navigator .sub-navigator {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    display: none;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.navigator .sub-navigator li {
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 20px;
}

.navigator .sub-navigator li:hover {
    color: #E6686A;
}

.navigator ul li a {
    position: relative;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-top: 3px solid transparent;
    padding:5px 0;
    display: block;
}



.Banner {
    height: 515px;
    background-image: url('../img/rs-cover.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.Banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, .8);
}

.content-container {
    position: relative;
    top: -340px;
    max-width: 940px;
    margin: 0 auto;
}

[section-x] {
    transform: translateY(100px);
}

[section-x].slideUp {
    animation: slideUp 0.5s;
    transform: translateY(0);
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.user-card {

    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.user-card .picture-and-text {
    padding: 50px;
}

.avatar {
    width: 299px;
    height: 347px;
}

.text {
    margin-left: 65px;
    width: 470px;
}

.text .hello {
    display: inline-block;
    background-color: #e6686a;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.text .hello::before {
    position: absolute;
    content:'';
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #e6686a;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-width: 0;
    left: 4px;
    top: 100%;
}

.text dt {
    width: 30%;
    float: left;
    padding: 5px 0;
    font-weight: bold;
}
.text dd {
    width: 70%;
    margin: 0;
    float: left;
    padding: 5px 0;
    color: #9da0a7;
}


.media {
    background-color: #E6686A;
}

.media svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.media a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.download-btn {
    margin: 30px 0 20px 0;
}

.download-link {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 21px 55px;
    margin: 5px;
    display: inline-block;
    border: 1px solid rgb(203, 205, 207);
    border-radius: 3px;
    color: #3d4451;
}

.download-link:hover {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

.self-introduction {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.progress-skills-title, .portfolio-title {
    margin-top: 70px;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.progress-skills {
    margin-top: 70px;
}

.skills-wrapper {
    padding: 40px 50px 50px 50px;
    background-color: white;
}

.skills-wrapper li {
    width: 48%;
    margin-bottom: 40px;
}

.skills-wrapper li p {
    margin: 0 0 5px 0;
}

.skills-wrapper li:nth-of-type(n) {
    float: left;
}

.skills-wrapper li:nth-of-type(2n) {
    float: right;
}

.skills-wrapper li:nth-last-of-type(1) {
    margin-bottom: 0;
}

.skills-wrapper li:nth-last-of-type(2) {
    margin-bottom: 0;
}

.skills-wrapper li .progress{
    width: 100%;
    background-color: rgb(252, 225, 225);
    height: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper li .progress::after{
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #e8676b;
    border-radius: 3px;
    transform: translateX(-100%);
    transition: all 1s;
}

.progress-skills.slideUp .skills-wrapper li .progress::after {
    transform: translateX(0);
}

.portfolio nav {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.portfolio ul {
    padding-left: 0px;
    display: inline-block;
    vertical-align: top;
}

.portfolio ul li {
    margin-left: 40px;
    cursor: pointer;
}

.portfolio ul li:nth-of-type(1) {
    margin-left: 0px;
}



.swiper-container {
    width: 940px;
    height: 470px;
}




